.contact-us-title h2{
    text-align:center;
    color:black;
    padding-top:80px;
    font-size:30px;
    

}
.contact-us-title{
    background-image:linear-gradient(to left,darkviolet,violet);
    height:200px;

}
 
.form_container{
    background-image:linear-gradient(to left,darkviolet,violet);
    height:660px;
    width:400px;
    margin:20px auto;
    color: black;
    font-size:30px;
    width:50%; display: flex;
    justify-content: center;
    background-color: darkslategrey;
    box-shadow:3px 3px 6px 3px rgba(47, 79, 79, 0.76);
    border-radius:30px;
}
 
.input-text{
    width:30%;
    border:none;
    outline:none;
    background:transparent;
    color:black;
    border-bottom:2px solid  black;
    font-size:18px;
    margin-left: 35%;
    margin-bottom:3%;
}
.form_container textarea{
    height:180px;
    width:300px;
    border:2px solid black;
     
    outline: none;
    border-radius:6px;
    background-color:transparent;
    font-size:19px;
    padding:6px;
     
}
.form_container input[type="submit"]{
    border:none;
    outline:none;
    background-color:transparent;
    border:2px solid black;
     
    color:black;
    font-size:20px;
    border-radius:6px;
    padding:10px;
    cursor:pointer;
    margin-left:350px;
}
.form_container input[type="reset"]{
    border:none;
    outline:none;
    background-color:transparent;
    border:2px solid black;
     
     
    color:black;
    font-size:20px;
    border-radius:6px;
    padding:10px;
    cursor:pointer;
    margin-left:160px;
}
.form_container input[type="reset"]:hover,input[type="submit"]:hover{
    transform:scale(1.1);
    
}
.form_container input[type="reset"]:active,input[type="submit"]:active{
 color:white;
 font-weight:bold;
 
}