@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.eligible,.readmore{
    padding:10px;
    border-radius:8px;
     font-size:16px;
    font-family:sans-serif;
    background-color:burlywood;
    color:black;
    font-weight:bold;
    box-shadow: 6px 7px 3px black;
}
    .readmore{
        margin-left:16%;
    }
.scheme_layout{
    display: grid;
    column-gap:30px;
    row-gap: 40px;
    grid-template-columns:400px 400px 400px;
    padding: 40px;

}
.scheme{
    font-family: cambria;
    font-size:25px;
    background-color:darkslategray;
    color:#ffffff;
    border-radius:14px;
    padding:20px;
    box-shadow:6px 6px 10px lightslategray;
   
 }

.scheme:hover{
     transform: scale(1.05);
     
    }
 .eligible:hover,.readmore:hover{
transform:scale(1.19);
 }
 span{
     font-size:40px;
    }
  
   
    .schemes_container{
        background-color:black;
 }
 hr{
     border:3px solid white;
 }